*{
    padding: 0;
    margin: 0;

}

.wrapper{
    width: 500px;
    width: 800px;
    border: 1px solid red;
    text-align: center;
    margin: 50px auto;
    justify-content: space-between;
    
}
.primary{
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: 0.9s;
    background-color: #ffb8b8;
    display: inline-block;
    cursor: pointer;
    padding: auto;
}
.div1{ 
    text-align: center;
    background-color: #ff0000;
}
.div1:hover{
    transform: translateY(50px) translateX(-50px);
}
.div2{
    text-align: center;
    background-color: #00ff22;
}
.div2:hover{
    transform:rotate(360deg);
}
.div3{
    text-align: center;
    background-color: #ff00aa;
    transition: 0.5s;
}
.div3:hover{
    transform:skewY(10deg) skewY(10deg);
}
.div4{
    text-align: center;
    background-color: #fffb00;
    transition: 0.5s;
}
.div4:hover{
    transform:scale(1.5);
}
.wrapper img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 100px 0 100px 0;
}
.wrapper img:hover{
    transform: scale(1.2);
}
